In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('../DataSets/Drinks.csv')
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [6]:
df.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [7]:
df.isnull().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [11]:
df.country=label.fit_transform(df.country)
df.continent=label.fit_transform(df.continent)

In [12]:
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0,0,0,0,0.0,1
1,1,89,132,54,4.9,2
2,2,25,0,14,0.7,0
3,3,245,138,312,12.4,2
4,4,217,57,45,5.9,0
...,...,...,...,...,...,...
188,188,333,100,3,7.7,5
189,189,111,2,1,2.0,1
190,190,6,0,0,0.1,1
191,191,32,19,4,2.5,0
192,192,64,18,4,4.7,0

In [15]:
x=df.drop('total_litres_of_pure_alcohol',axis=1).values
x

array([[  0,   0,   0,   0,   1],
       [  1,  89, 132,  54,   2],
       [  2,  25,   0,  14,   0],
       [  3, 245, 138, 312,   2],
       [  4, 217,  57,  45,   0],
       [  5, 102, 128,  45,   3],
       [  6, 193,  25, 221,   5],
       [  7,  21, 179,  11,   2],
       [  8, 261,  72, 212,   4],
       [  9, 279,  75, 191,   2],
       [ 10,  21,  46,   5,   2],
       [ 11, 122, 176,  51,   3],
       [ 12,  42,  63,   7,   1],
       [ 13,   0,   0,   0,   1],
       [ 14, 143, 173,  36,   3],
       [ 15, 142, 373,  42,   2],
       [ 16, 295,  84, 212,   2],
       [ 17, 263, 114,   8,   3],
       [ 18,  34,   4,  13,   0],
       [ 19,  23,   0,   0,   1],
       [ 20, 167,  41,   8,   5],
       [ 21,  76, 173,   8,   2],
       [ 22, 173,  35,  35,   0],
       [ 23, 245, 145,  16,   5],
       [ 24,  31,   2,   1,   1],
       [ 25, 231, 252,  94,   2],
       [ 26,  25,   7,   7,   0],
       [ 27,  88,   0,   0,   0],
       [ 41,  37,   1,   7,   0],
       [ 28, 144,  56,  16,   0],
       [ 29,  57,  65,   1,   1],
       [ 30, 147,   1,   4,   0],
       [ 31, 240, 122, 100,   3],
       [ 32,  17,   2,   1,   0],
       [ 33,  15,   1,   1,   0],
       [ 34, 130, 124, 172,   5],
       [ 35,  79, 192,   8,   1],
       [ 36, 159,  76,   3,   5],
       [ 37,   1,   3,   1,   0],
       [ 38,  76,   1,   9,   0],
       [ 39,   0, 254,  74,   4],
       [ 40, 149,  87,  11,   3],
       [ 42, 230,  87, 254,   2],
       [ 43,  93, 137,   5,   3],
       [ 44, 192, 154, 113,   2],
       [ 45, 361, 170, 134,   2],
       [127,   0,   0,   0,   1],
       [ 46,  32,   3,   1,   0],
       [ 47, 224,  81, 278,   2],
       [ 48,  15,  44,   3,   0],
       [ 49,  52, 286,  26,   3],
       [ 50, 193, 147,   9,   3],
       [ 51, 162,  74,   3,   5],
       [ 52,   6,   4,   1,   0],
       [ 53,  52,  69,   2,   3],
       [ 54,  92,   0, 233,   0],
       [ 55,  18,   0,   0,   0],
       [ 56, 224, 194,  59,   2],
       [ 57,  20,   3,   0,   0],
       [ 58,  77,  35,   1,   4],
       [ 59, 263, 133,  97,   2],
       [ 60, 127, 151, 370,   2],
       [ 61, 347,  98,  59,   0],
       [ 62,   8,   0,   1,   0],
       [ 63,  52, 100, 149,   2],
       [ 64, 346, 117, 175,   2],
       [ 65,  31,   3,  10,   0],
       [ 66, 133, 112, 218,   2],
       [ 67, 199, 438,  28,   3],
       [ 68,  53,  69,   2,   3],
       [ 69,   9,   0,   2,   0],
       [ 70,  28,  31,  21,   0],
       [ 71,  93, 302,   1,   5],
       [ 72,   1, 326,   1,   3],
       [ 73,  69,  98,   2,   3],
       [ 74, 234, 215, 185,   2],
       [ 75, 233,  61,  78,   2],
       [ 76,   9, 114,   0,   1],
       [ 77,   5,   1,   0,   1],
       [ 78,   0,   0,   0,   1],
       [ 79,   9,   3,   0,   1],
       [ 80, 313, 118, 165,   2],
       [ 81,  63,  69,   9,   1],
       [ 82,  85,  42, 237,   2],
       [ 83,  82,  97,   9,   3],
       [ 84,  77, 202,  16,   1],
       [ 85,   6,  21,   1,   1],
       [ 86, 124, 246,  12,   1],
       [ 87,  58,  22,   2,   0],
       [ 88,  21,  34,   1,   4],
       [ 89,   0,   0,   0,   1],
       [ 90,  31,  97,   6,   1],
       [ 91,  62,   0, 123,   1],
       [ 92, 281, 216,  62,   2],
       [ 93,  20,  55,  31,   1],
       [ 94,  82,  29,   0,   0],
       [ 95,  19, 152,   2,   0],
       [ 96,   0,   0,   0,   0],
       [ 97, 343, 244,  56,   2],
       [ 98, 236, 133, 271,   2],
       [100,  26,  15,   4,   0],
       [101,   8,  11,   1,   0],
       [102,  13,   4,   0,   1],
       [103,   0,   0,   0,   1],
       [104,   5,   1,   1,   0],
       [105, 149, 100, 120,   2],
       [106,   0,   0,   0,   4],
       [107,   0,   0,   0,   0],
       [108,  98,  31,  18,   0],
       [109, 238,  68,   5,   3],
       [110,  62,  50,  18,   4],
       [112,   0,   0,   0,   2],
       [113,  77, 189,   8,   1],
       [114,  31, 114, 128,   2],
       [115,  12,   6,  10,   0],
       [116,  47,  18,   5,   0],
       [117,   5,   1,   0,   1],
       [118, 376,   3,   1,   0],
       [119,  49,   0,   8,   4],
       [120,   5,   6,   0,   1],
       [121, 251,  88, 190,   2],
       [122, 203,  79, 175,   4],
       [123,  78, 118,   1,   3],
       [124,   3,   2,   1,   0],
       [125,  42,   5,   2,   0],
       [126, 188, 200,   7,   4],
       [128, 169,  71, 129,   2],
       [129,  22,  16,   1,   1],
       [130,   0,   0,   0,   1],
       [131, 306,  63,  23,   4],
       [132, 285, 104,  18,   3],
       [133,  44,  39,   1,   4],
       [134, 213, 117,  74,   5],
       [135, 163, 160,  21,   5],
       [136,  71, 186,   1,   1],
       [137, 343, 215,  56,   2],
       [138, 194,  67, 339,   2],
       [139,   1,  42,   7,   1],
       [157, 140,  16,   9,   1],
       [111, 109, 226,  18,   2],
       [140, 297, 122, 167,   2],
       [141, 247, 326,  73,   1],
       [142,  43,   2,   0,   0],
       [160, 194, 205,  32,   3],
       [161, 171, 315,  71,   3],
       [162, 120, 221,  11,   3],
       [143, 105,  18,  24,   4],
       [144,   0,   0,   0,   2],
       [145,  56,  38, 140,   0],
       [146,   0,   5,   0,   1],
       [147,   9,   1,   7,   0],
       [148, 283, 131, 127,   2],
       [149, 157,  25,  51,   0],
       [150,  25,   3,   2,   0],
       [151,  60,  12,  11,   1],
       [152, 196, 293, 116,   2],
       [153, 270,  51, 276,   2],
       [154,  56,  11,   1,   4],
       [155,   0,   0,   0,   0],
       [156, 225,  76,  81,   0],
       [158, 284, 157, 112,   2],
       [159,  16, 104,   0,   1],
       [163,   8,  13,   0,   0],
       [164, 128, 178,   7,   5],
       [165,  90,   2,   2,   0],
       [166, 152,  60, 186,   2],
       [167, 185, 100, 280,   2],
       [168,   5,  35,  16,   1],
       [169,   2,  15,   0,   1],
       [171,  99, 258,   1,   1],
       [ 99, 106,  27,  86,   2],
       [172,   1,   1,   4,   1],
       [173,  36,   2,  19,   0],
       [174,  36,  21,   5,   4],
       [175, 197, 156,   7,   3],
       [176,  51,   3,  20,   0],
       [177,  51,  22,   7,   1],
       [178,  19,  71,  32,   1],
       [179,   6,  41,   9,   4],
       [181,  45,   9,   0,   0],
       [182, 206, 237,  45,   2],
       [183,  16, 135,   5,   1],
       [184, 219, 126, 195,   2],
       [170,  36,   6,   1,   0],
       [180, 249, 158,  84,   3],
       [185, 115,  35, 220,   5],
       [186,  25, 101,   8,   1],
       [187,  21,  18,  11,   4],
       [188, 333, 100,   3,   5],
       [189, 111,   2,   1,   1],
       [190,   6,   0,   0,   1],
       [191,  32,  19,   4,   0],
       [192,  64,  18,   4,   0]], dtype=int64)

In [16]:
y=df['total_litres_of_pure_alcohol'].values
y

array([ 0. ,  4.9,  0.7, 12.4,  5.9,  4.9,  8.3,  3.8, 10.4,  9.7,  1.3,
        6.3,  2. ,  0. ,  6.3, 14.4, 10.5,  6.8,  1.1,  0.4,  3.8,  4.6,
        5.4,  7.2,  0.6, 10.3,  4.3,  6.3,  4. ,  4. ,  2.2,  5.8,  8.2,
        1.8,  0.4,  7.6,  5. ,  4.2,  0.1,  1.7,  5.9,  4.4, 10.2,  4.2,
        8.2, 11.8,  0. ,  2.3, 10.4,  1.1,  6.6,  6.2,  4.2,  0.2,  2.2,
        5.8,  0.5,  9.5,  0.7,  2. , 10. , 11.8,  8.9,  2.4,  5.4, 11.3,
        1.8,  8.3, 11.9,  2.2,  0.2,  2.5,  7.1,  5.9,  3. , 11.3,  6.6,
        2.2,  0.1,  0. ,  0.2, 11.4,  2.5,  6.5,  3.4,  7. ,  0.5,  6.8,
        1.8,  1. ,  0. ,  2.4,  6.2, 10.5,  1.9,  2.8,  3.1,  0. , 12.9,
       11.4,  0.8,  1.5,  0.3,  0. ,  0.6,  6.6,  0. ,  0. ,  2.6,  5.5,
        2.3,  0. ,  4.9,  4.9,  0.5,  1.3,  0.1,  6.8,  1. ,  0.2,  9.4,
        9.3,  3.5,  0.1,  9.1,  7. ,  6.7,  0.7,  0. ,  6.9,  7.2,  1.5,
        7.3,  6.1,  4.6, 10.9, 11. ,  0.9,  9.8,  6.3, 10.4, 11.5,  6.8,
        7.7, 10.1,  6.3,  2.6,  0. ,  4.2,  0.1,  0.3,  9.6,  4.1,  6.7,
        1.5, 11.4, 10.6,  1.2,  0. ,  8.2, 10. ,  2.2,  1.7,  5.6,  4.7,
        7.2, 10.2,  1. ,  0.3,  6.4,  3.9,  0.1,  1.3,  1.1,  6.4,  1.3,
        1.4,  2.2,  1. ,  8.3,  8.9,  2.8, 10.4,  5.7,  8.7,  6.6,  2.4,
        0.9,  7.7,  2. ,  0.1,  2.5,  4.7])

In [17]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.1)

In [18]:
from sklearn.svm import SVR

In [26]:
model=SVR(kernel='linear')

In [27]:
model

SVR(kernel='linear')

In [28]:
model.fit(xtrain,ytrain)

SVR(kernel='linear')

In [29]:
ypred=model.predict(xtest)
ypred

array([ 1.03013079,  0.87903573,  4.95837543,  1.43189816,  2.73417998,
       10.02403907,  6.91999341,  2.61109572,  9.99244897, 12.4892305 ,
       11.66490863,  0.39874907,  6.70036642, 10.3707114 ,  5.07951065,
        1.36317193,  1.22778197,  1.78390708,  1.09338294,  6.33499052])

In [30]:
from sklearn.metrics import r2_score,mean_squared_error
r2=r2_score(ypred,ytest)
r2*100

82.83321387549347